#root {
  margin: 0;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.pages-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 150px;
  cursor: pointer;
  padding: 0;
}

.songs-btn {
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 55px;
}

.map-btn {
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  width: 55px;
}

.active-nav {
  background-color: #ccc;
}
