.song-list {
  width: 700px;
}

.search-input {
  width: 696px;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.songs {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  height: 1000px;
  width: 700px;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  height: 99px;
}

.song-item:hover {
  background-color: #f5f5f5;
}

.album {
  align-items: left;
  margin-right: 15px;
  object-fit: cover;
}

.song-title {
  margin: 0;
  font-size: 18px;
}

.song-artist {
  margin: 5px 0;
  color: #666;
}

.song-streams {
  margin: 0;
  font-size: 14px;
  color: #999;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 10px;
}
